@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-image: url('assets/bg.jpg');
  background-size: cover; /* or contain */
  height: 300px; /* or any other height */
  width: 40%; /* or any other width */
  border-radius: 9px;
  /* border: solid; */
  /* margin-top: auto; */
}
.main{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  padding: 30px;
  /* border: solid; */

}
.welcome{
  /* border: solid; */
  width: 50%;
  height: 300px;
}
.welcome h1{
  color: rgb(66, 144, 223);
  font-size:37px;
  font-weight: bolder;
}
.single_card{
  width: 20px;
}

/* CSS-for-Commmon-Login */
.main_login{
  width:90vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
header{
  height:9vh;
  border-radius: 0%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header p{
  font-weight: bold;
  font-size: 20px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* CSS-for-admin-login */
.body-form{
  /* border: solid; */
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn{
  width: 100%;
}
/* CSS-for-second-home */
.main_home2{
  margin-top: 30px;
}
/* CSS-for-about */
.about{
  margin-top: 170px;
  width: 90%;
  margin-left:auto ;
  font-size: 15px;
  letter-spacing: 1px;
  color: rgb(48, 45, 45);
  margin-right:auto ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: solid; */
  height: 220px;
}
.about h1{
  font-weight: bold;
  color: rgb(65, 97, 227);
  font-size: 40px;
}
.about p{
  font-weight: bold;
color: black;
}
/* CSS-for-teachers-page */
.teacher-box{
width: 210px;
height: 40px;
/* border: solid; */
}
#simple-search{
  width: 300px;
  height: 30px;
  margin-left: 14px;
  margin-top: 10px;
  padding: 15px;
  outline: none;
}
.search-btn{
  margin-top: 10px;
  height: 30px;
  padding: 10px;
  padding-bottom: 5px;
  
}

.search-btn p{
  font-size: 20px;
  margin-top: -6px;
  font-weight: 500;
}
.search-icon{
  height: 15px;
  margin-top: -3px;
}
.plus-icon{
  margin-top: 7px;
  margin-left: 15px;
}
.t-div{
  /* border: solid black 3px; */
  width: 94vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* CSS-Teacher-req-page */
.div_req{
  height: 100vh;
  width: 100vw;
  /* border: solid black 2px; */
}
.small_box{
  height: 50px;
  width: 380px;
  /* border: solid black 3px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* CSS-Wait-page */
.wait_msg{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

/* CSS-for-Booking */
.textarea_book{
  height: 270px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  outline: none;
  border: none;
  width: 500px;
  margin-top: 80px;
  padding: 20px;
  /* margin-left: auto; */
 
}
.main_book{
  /* border: solid; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}
.btn_book_send{
margin-top: 20px;
width: 220px;
margin-right: 40px;
}
.btn_book_clear{
  margin-top: 20px;
  
  width: 220px;
  }


  /* CSS-Appointment-Display */
  .div_book{
    width: 100w;
    height:auto;
    /* border: solid black 3px; */
    margin-top: 80px;
  }
  .small_box_book{
    /* height: 0px; */
    width: 380px;
    padding: 0%;
    padding-top: 7px;
    /* border: solid black 3px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .parent_display{
    width: 380px;
    padding-top: 7px;
    justify-content: space-between;
    align-items: center;
  }
  .child_parent{
    flex: 1;
    
  }
  .one{
/* border: solid black 3px; */
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
padding: 20px;
margin-bottom: 10px;
  }
  .no_appointments{
    font-size: 23px;
    margin-top: 150px;
  }
.div_schedule{
  /* border: solid black; */
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s,.n{
  width: 210px;
  font-size: 15px;
  font-weight: 500;
  margin:5px;
 
}